/* 레이아웃 */
#header {height: 327px; background: url(../img/header_bg.jpg) repeat-x center top;}

/* 컨테이너 */
.container {width: 1200px; margin: 0 auto; background: rgba(0,0,0,0.3);}

/* 헤더 */
.header {}
.header .header_menu {text-align: right;}
.header .header_menu a {color: #fff; transition: color 0.3s; padding: 8px 0 6px 10px; display: inline-block; font-family: 'Abel';}
.header .header_menu a:hover {color: #ccc;}
.header .header_tit {
    text-align: center; font-family: 'abel';  
    text-transform: uppercase; 
    margin-top: 55px;
} 
.header .header_tit h1 {
    background-color: #51b0dc; 
    display: inline-block; 
    padding: 5px 30px; 
    color: #fff; 
    font-size: 30px; 
    letter-spacing: 2px; 
    font-weight: 900;
    transition: box-shadow 0.4s ease-in-out;
}
.header .header_tit h1:hover {box-shadow: inset -500px 0 0 0 rgba(0,0,0,0.1), inset 500px 0 0 0 rgba(0,0,0,0.1);}
.header .header_tit a {
    display: inline-block; 
    margin: -7px; 
    background-color: #4a9abf; 
    padding: 10px 20px; 
    color: #fff; 
    font-size: 16px;
    transition: box-shadow 0.4s ease-in-out;
}
.header .header_tit a:hover {box-shadow: inset 0 0 0 30px rgba(0,0,0,0.1);} 
.header .header_icon {}

/* 미디어쿼리*/
@media (max-width: 1220px){
    .container {width: 100%;}
}