/* 레이아웃 */
#header {height: 327px; background: url(../img/header_bg.jpg) repeat-x center top;}
#nav {background-color: #f6fdff;}
#title {background-color: #ddd;}

/* 컨테이너 */
.container {width: 1200px; margin: 0 auto; /* background: rgba(0,0,0,0.3); */}

/* 헤더 */
.header .header_menu {text-align: right;}
.header .header_menu a {color: #fff; transition: color 0.3s; padding: 8px 0 6px 10px; display: inline-block; font-family: 'Abel';}
.header .header_menu a:hover {color: #ccc;}
.header .header_tit {
    text-align: center; font-family: 'abel';  
    text-transform: uppercase; 
    margin-top: 55px;
} 
.header .header_tit h1 {
    background-color: #51b0dc; 
    display: inline-block; 
    padding: 5px 30px; 
    color: #fff; 
    font-size: 30px; 
    letter-spacing: 2px; 
    font-weight: 900;
    transition: box-shadow 0.4s ease-in-out;
}
.header .header_tit h1:hover {box-shadow: inset -500px 0 0 0 rgba(0,0,0,0.1), inset 500px 0 0 0 rgba(0,0,0,0.1);}
.header .header_tit a {
    display: inline-block; 
    margin: -7px; 
    background-color: #4a9abf; 
    padding: 10px 20px; 
    color: #fff; 
    font-size: 16px;
    transition: box-shadow 0.4s ease-in-out;
}
.header .header_tit a:hover {box-shadow: inset 0 0 0 30px rgba(0,0,0,0.1);} 
.header .header_icon {text-align: center; margin-top: 40px; padding-bottom: 40px;} 
.header .header_icon li {display: inline; margin: 0 2px;} 
.header .header_icon li a {
    position: relative;
    color: #fff; 
    font-size: 35px;
    background: #3192bf;
    width: 60px; height: 60px;
    display: inline-block;
    line-height: 60px;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
}
.header .header_icon li a span {
    font-size: 12px;
    line-height: 1.6;
    position: absolute; left: 50%; top: -45px;
    transform: translateX(-50%);
    background: #3192bf;
    padding: 3px 9px;
    border-radius: 6px 0;
    opacity: 0;
    transition: all 0.3s;
} 
.header .header_icon li a:hover span {
    opacity: 1;
    top: -33px;
}
.header .header_icon li a span::before {
    content: '';
    border-top: 5px solid #3192bf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute; left: 50%; bottom: -5px;
    margin-left: -5px;
}
.header .header_icon li a:hover {
    box-shadow: 0 0 0 3px rgba(75, 154, 191, 0.9) inset,
                0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

/* nav */
.nav {overflow: hidden; padding: 25px 0;}
.nav > div {width: 40%; float: left;}
.nav > div h3 {font-size: 18px; color: #25a2d0; font-weight: bold; margin-bottom: 4px;}
.nav > div:last-child {width: 20%;}
.nav > div ol {overflow: hidden;}
.nav > div li {width: 50%; float: left; position: relative; padding-left: 8px; box-sizing: border-box;}
.nav > div:last-child li {width: 100%;}
.nav > div li::before{
    content: '';
    width: 3px; height: 3px;
    position: absolute; top: 8px; left: 0px;
    background-color: #25a2d0;
    border-radius: 50%;
}
.nav > div li a {position: relative; transition: all 0.3s ease-in-out;}
.nav > div li a::after {
    content: '';
    width: 0; height: 1px;
    background: #25aad0;
    position: absolute;
    bottom: 0; left: 0;
    transition: all 0.3s ease-in-out;
}
.nav > div li:hover a::after{
    width: 100%;
}

/* title */
.title {}
.title h2 {}
.title a {}
.title a span {}


/* 미디어쿼리*/
@media (max-width: 1220px){
    .container {width: 100%;}
}