/* font */
/* @font-face{font-family:"Neue Montreal";src:local("Neue Montreal Regular"),local("NeueMontreal-Regular"),url(/_nuxt/fonts/NeueMontreal-Regular.781fe6d.woff2) format("woff2"),url(/_nuxt/fonts/NeueMontreal-Regular.4471cc3.woff) format("woff");font-weight:400;font-style:normal;font-display:swap} */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;700;800;900&display=swap');
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* reset */

/* 여백 초기화 */
body, div, ul, ol, li, dd, dt, dl, h1, h2, h3, h4, h5, h6, input, fieldset, p, select, table, td, tr, textarea, button, form, figure, figcaption {margin: 0; padding: 0;}

a {color: #fff; text-decoration: none;}
img {vertical-align: top; border: 0;}
li {list-style: none;}