@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'NewYork';
    src: local('NewYork.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    /* https://www.pixelsurplus.com/freebies/new-york-free-font */
}
@font-face {
    font-family: 'Audrey';
    src: local('Audrey.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cyrene';
    src: local('cyrene.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* https://codepen.io/hyunseo418/pen/RwGQxzy?editors=1010 */
/*---------------
Supahscroll
---------------*/
.supah-scroll {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    will-change: transform;
    overflow: hidden;
}


body {
    --font-en: 'Poppins';
    --font-ko-light: 'S-CoreDream-3Light';
    --font-ko-regular: 'S-CoreDream-4Regular';
    --width: calc(100vw - 70px);
    --height: calc(100vh - 50px);
    background: #000;
    color: #fff;
    font-family: var(--font-en);
    font-weight: 100;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}

/* header */
#header {
    left: 0; top: 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 70px 0 30px; 
    width: 100vw; height: 50px; 
    border-bottom: 1px solid #fff; 
    text-transform: uppercase; 
    font-family: var(--font-en); 
    font-size: 1rem;
    box-sizing: border-box;
    z-index: 10000;
    background: #000;
}
.header-right {
    position: relative;
    display: block;
}
.header-right .header-btn > .whiteCircle {
    position: absolute;
    top: 50%; right: -25px;
    transform: translate(0, -50%);
    width: 14px; height: 14px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #fff;
    transition: all 0.3s;
}
.header-right .header-btn > .blackCircle {
    position: absolute;
    top: 50%; right: -35px;
    transform: translate(0, -50%);
    width: 14px; height: 14px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: all 0.3s;
}
.header-right .header-btn.active > .whiteCircle,
.header-right .header-btn:hover > .whiteCircle {
    right: -30px;
}
.header-right .header-btn.active > .blackCircle,
.header-right .header-btn:hover > .blackCircle {
    right: -30px;
}


/* Intro */
#intro {
    left: 0; top: 50px;
    width: 100vw;
    height: var(--height);
    overflow-x: hidden;
	overflow-y: hidden;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    font-size: 7.3vw;
}
.intro .scrollDist {
	width: 100%;
	height: 200% !important;
	position: absolute;
}
.intro svg {
    position: fixed;
}

/* contents */
#contents { 
    left: 0; top: 0;
    width: 1000vw;
    height: var(--height);
    padding-top: 50px;
    display: flex;
    overflow: hidden;
    margin-left: 200vw;
}
#contents > section {
    position: relative;
    height: 100%;
    display: flex;
    border-right: 1px solid #fff;
    background: #000;
}
.fixed {
    position: fixed;
}

/* column menu style */
.column-menu {
    width: 70px;
    height: var(--height);
    background: #000;
    border-right: 1px solid #fff;
    box-sizing: border-box;
}
.column-menu .rotate {
    transform: translateY(85vh) rotate(-90deg);
    font-size: 50px;
    text-transform: uppercase;
}

/* button design */
.btn-wrap {
    position: absolute;
    right: 10%; bottom: 0;
}
.btn-wrap .btn {
    margin-left: 6vmin;
}
.btn {
    position: relative;
    display: inline-block;
    font-size: 0.9vw;
    font-family: 'S-CoreDream-1Thin';
}
.btn .whiteCircle {
    position: absolute;
    top: 50%; left: -4vmin;
    transform: translateY(-50%);
    width: 1.4vmin; height: 1.4vmin;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #fff;
    transition: all 0.3s;
}
.btn .blackCircle {
    position: absolute;
    top: 50%; left: -3vmin;
    transform: translateY(-50%);
    width: 1.4vmin; height: 1.4vmin;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: all 0.3s;
}
.btn-wrap .btn.active > .whiteCircle,
.btn-wrap .btn:hover > .whiteCircle {
    left: -3.5vmin;
}
.btn-wrap .btn.active > .blackCircle,
.btn-wrap .btn:hover > .blackCircle {
    left: -3.5vmin;
}


#summary {
    position: relative;
    width: 100vw;
    z-index: 1000;
    border-left: 1px solid #fff;
}
#about {
    width: 100vw;
}
#skill {
    position: relative; 
    /* width: calc(100vw + 57vmax + 70px);  */
    box-sizing: content-box;
    /* display: flex; */
}
#website {
    width: 400vw;
    margin-left: 100vw;
}


/* summary */
.summary {
    text-transform: uppercase;
    width: 100%;
}
.summary li {
    border-bottom: 1px solid #fff;
    padding: 5px 0 2px 0;
}
.summary li a {
    display: block;
    font-size: 30px;
    padding-left: 20px;
    box-sizing: border-box;
}
.summary .summary-title {
    position: absolute;
    bottom: 0; left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.summary .summary-title h2 {
    font-size: 17vw;
    font-weight: 100;
    letter-spacing: 0.3vw;
}
.summary .summary-title h2 .split {
    display: inline-block;
    transform: translateY(-50vh);
    font-family: 'buda';
}


/* about */
.aboutMe {
    padding: 5vw 13vw 0;
}
.aboutMe .top {
    display: flex;
}
.aboutMe .top figure {
    flex: 1 1 40%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}
.aboutMe .top figure img {
    object-fit: cover;
    transform: scale(1.5);
}
.aboutMe .top .desc {
    flex: 1 1 57%;
    margin: auto 0;
    font-size: 1.7vw;
}
.aboutMe .bottom {
    display: flex;
    justify-content: space-between;
}
.aboutMe .bottom .text-box {
    flex: 1 1 30%;
    margin-top: 12vh;
    margin-left: 5%;
    opacity: 0;
}
.aboutMe .bottom .text-box:first-child {
    margin-left: 0;
}
.aboutMe .bottom .text-box .title {
    font-family: Poppins;
    font-weight: 300;
}
.aboutMe .bottom .text-box .desc {
    height: 16vh;
    font-family: Poppins;
    font-weight: 300;
    margin-top: 4vh;
    font-size: 1vw;
    line-height: 1.5;
    color: #999;
}
.aboutMe .bottom .text-box .num {
    margin-top: 4vmin;
    font-size: 3.2vw;
}

/* skill */
.skillCont {
    position: relative;
    width: 57vmax;
    height: var(--height);
}
.skillCont ul {
    width: 57vmax;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -1px;
}
.skillCont li {
    position: relative;
    flex: 1 1 50%;
    height: 33.3333%;
    padding: 4% 2% 0 14%;
    box-sizing: border-box;
    border-top: 1px solid #fff;
    margin-top: -1px;
}
.skillCont li:nth-child(odd){
    border-right: 1px solid #fff;
}
.skillCont li .name {
    position: relative;
    font-size: 2.3vmax;
    font-weight: 100;
}
.skillCont li:nth-child(1) .name::before {
    content: '';
    border: 1px solid #fff;
    position: absolute;
    left: -5.5vmax; top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 2.3vmax; height: 2.3vmax;
    animation: circle-right 3s infinite;
}
@keyframes circle-right {
    0% {left: -5.5vmax}
    50% {left: -4.75vmax}
    100% {left: -5.5vmax}
}
.skillCont li:nth-child(1) .name::after {
    content: '';
    border: 1px solid #fff;
    position: absolute;
    left: -4vmax; top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 2.3vmax; height: 2.3vmax;
    animation: circle-left 3s infinite;
}
@keyframes circle-left{
    0% {left: -4vmax}
    50% {left: -4.75vmax}
    100% {left: -4vmax}
}
.skillCont li:nth-child(2) .name::before {
    content: '';
    border: 1px solid #fff;
    position: absolute;
    left: -4.7vmax; top: 50%;
    transform: translateY(-50%);
    width: 2.3vmax; height: 2.3vmax;
    animation: square1 3s infinite;
}
@keyframes square1 {
    0% {tranform: translateY(-50%) rotate(0deg)}
    50% {transform: translateY(-50%) rotate(-180deg)}
    100% {transform: translateY(-50%) rotate(-360deg)}
}
.skillCont li:nth-child(2) .name::after {
    content: '';
    border: 1px solid #fff;
    position: absolute;
    left: -4.7vmax; top: 50%;
    transform: translateY(-50%);
    width: 2.3vmax; height: 2.3vmax;
    animation: square2 3s infinite;
}
@keyframes square2 {
    0% {tranform:translateY(-50%) rotate(0deg)}
    50% {transform:translateY(-50%) rotate(180deg)}
    100% {transform:translateY(-50%) rotate(360deg)}
}
.skillCont li:nth-child(3) .name::before {
    content: '';
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    position: absolute;
    left: -4.7vmax; top: 50%;
    transform: translateY(-50%);
    width: 2.5vmax; height: 1.9vmax;
    animation: line1 3s infinite;
}
@keyframes line1 {
    0% {height: 1.9vmax}
    50% {height: 0}
    100% {height: 1.9vmax}
}
.skillCont li:nth-child(3) .name::after {
    content: '';
    background: #fff;
    position: absolute;
    left: -4.7vmax; top: 50%;
    transform: translateY(-50%);
    width: 2.5vmax; height: 0.05vmax;
}
.skillCont li:nth-child(4) .name::before {
    content: '';
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: -5vmax; top: 50%;
    transform: translateY(-50%);
    width: 2.7vmax; height: 2.7vmax;
    animation: circle 3s infinite;
}
@keyframes circle {
    0% {transform:translateY(-50%) scale(1)}
    25% {transform:translateY(-50%) scale(0.7)}
    50% {transform:translateY(-50%) scale(0.3)}
    75% {transform:translateY(-50%) scale(0.7)}
    100% {transform:translateY(-50%) scale(1)}
}
.skillCont li:nth-child(4) .name::after {
    content: '';
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: -5vmax; top: 50%;
    transform: translateY(-50%);
    width: 2.7vmax; height: 2.7vmax;
    animation: circle 3s 1.5s infinite;
}
@keyframes circle {
    0% {transform:translateY(-50%) scale(1)}
    25% {transform:translateY(-50%) scale(0.7)}
    50% {transform:translateY(-50%) scale(0.3)}
    75% {transform:translateY(-50%) scale(0.7)}
    100% {transform:translateY(-50%) scale(1)}
}
.skillCont li:nth-child(5) .name::before {
    content: '';
    border: 1px solid #fff;
    position: absolute;
    left: -4.7vmax; top: 50%;
    width: 2.2vmax; height: 2.2vmax;
    transform: translateY(-50%) rotate(45deg);
    animation: diamond 3s infinite;
}
@keyframes diamond {
    0% {transform:translateY(-50%) rotate(45deg) scale(1);}
    50% {transform:translateY(-50%) rotate(225deg) scale(0.7);}
    100% {transform:translateY(-50%) rotate(405deg) scale(1);}
}
.skillCont li:nth-child(6) .name::before {
    content: '';
    background: #fff;
    position: absolute;
    left: -5vmax; top: 50%;
    width: 3.2vmax; height: 0.05vmax;
    transform: translateY(-50%) rotate(45deg);
    animation: x1 3s infinite;
}
@keyframes x1 {
    0% {transform: translateY(-50%) rotate(45deg);}
    50% {transform: translateY(-50%) rotate(0deg);}
    100% {transform: translateY(-50%) rotate(45deg);}
}
.skillCont li:nth-child(6) .name::after {
    content: '';
    background: #fff;
    position: absolute;
    left: -5vmax; top: 50%;
    width: 3.2vmax; height: 0.05vmax;
    transform: translateY(-50%) rotate(135deg);
    animation: x2 3s infinite;
}
@keyframes x2 {
    0% {transform:translateY(-50%) rotate(135deg);}
    50% {transform:translateY(-50%) rotate(180deg);}
    100% {transform:translateY(-50%) rotate(135deg);}
}

.skillCont li .score {
    position: absolute;
    right: 4%; bottom: -1%;
    font-size: 9vmax;
    font-weight: 300;
    text-align: right;
    margin-top: 7%;
    /* margin-top: 5vh; */
}

/* website */
.website {}
.website .site-list {
    
    display: flex;
}
.website .site-list .site-contents {
    height: var(--height);
    width: var(--width);
}
.website .site-list .site-contents.website1 {}
.website .site-list .site-contents.website2 {}
.website .site-list .site-contents.website3 {}
.website .site-list .site-contents .site-bar {
    display: block; 
    height: 7vmin; 
    border-bottom: 1px solid #fff; 
    border-top: 1px solid #fff; 
    padding-left: 2vmax;
    box-sizing: border-box;
    font-size: 2vmax;
    line-height: 7vmin;
    font-weight: 100;
    text-transform: capitalize;
    background: #000;
    width: 100%;
}
.website .site-list .site-contents .site-bar:first-child {
    border-top: 0;
}
.website .site-list .site-contents .site-detail {
    display: flex;
}
.website .site-list .site-contents .site-detail .left {
    position: relative;
    flex: 1 1 50%;
    height: 73vh;
    box-sizing: border-box;
    height: calc(100vh - 50px - 7vmin);
}
.website .site-list .site-contents .site-detail .left .title-box {
    font-size: 5vmax;
    text-transform: capitalize;
    margin: 6vmin 0 5vmin 8vmin;
    overflow: hidden;
}
.website .site-list .site-contents .site-detail .left .title-box .title {
    transform: translateY(-20vh);
}
.website .site-list .site-contents .site-detail .left .desc-box {
    color: #999;
    font-family: var(--font-ko-light);
    font-size: 1.2vmax;
    line-height: 1.5;
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}
.website .site-list .site-contents .site-detail .left .desc-box .desc {
    transform: translateY(-50vh);
}
.website .site-list .site-contents .site-detail .left .btn-wrap {
    bottom: 10%;
}
.website .site-list .site-contents .site-detail .right {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: calc(100vh - 50px - 7vmin);
}
.website .site-list .site-contents .site-detail .right img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.website .site-list .site-contents .site-detail .right .code-view {
    background: #06060a;
    width: 100%; height: 100%;
}
    .code-view .tab-menu {}
    .code-view .tab-menu ul {
        display: flex;
    }
    .code-view .tab-menu li {
    }
    .code-view .tab-menu li a {
        display: inline-block;
        padding: 1vmin 2vmin;
    }
    .code-view .tab-menu li.active a {
    }
    .code-view .tab-contents {}
    .code-view .tab-contents .code {
        padding: 2vw;
    }