
body {
    --font-en: "Neue Montreal";
    --font-ko-light: 'S-CoreDream-3Light';
    --font-ko-regular: 'S-CoreDream-4Regular';
    --height: calc(100vh - 51px);
    background: #000;
    color: #fff;
    font-family: var(--font-en);
}

#header {
    position: fixed; left: 0; top: 0; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 70px 0 30px; 
    width: 100vw; height: 51px; 
    border-bottom: 1px solid #fff; 
    text-transform: uppercase; 
    font-family: var(--font-en); 
    font-size: 1rem;
    box-sizing: border-box;
    z-index: 100;
    background: #000;
}

/* header */
.header-right {
    position: relative;
    display: block;
}
.header-right .btn .whiteCircle {
    position: absolute;
    top: 5px; right: -25px;
    width: 14px; height: 14px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #fff;
    transition: all 0.3s;
}
.header-right .btn .blackCircle {
    position: absolute;
    top: 5px; right: -35px;
    width: 14px; height: 14px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: all 0.3s;
}


#contents {
    width: 2000vw;
    /* overflow: hidden; */
    display: flex;
    position: fixed;
    left: 0; top: 0;
}
#contents > section {
    height: var(--height);
    /* float: left; */
    flex: 0 0 1;
    width: 100vw;
    padding-top: 51px;
    border-right: 1px solid #fff;
}
/* .main-title {
    position: relative;
    width: 100vw;
} */
.main-title span {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 8vw;
    letter-spacing: 2.5vw;
}
.column_menu {
    position: absolute;
    left: 0; top: 100vh;
    width: 100vh; height: 70px;
    transform: rotate(270deg);
    transform-origin: left top;
    font-size: 50px;
    line-height: 1.4;
    padding-left: 2.7vmax;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
}
.btn {
    position: relative;
    display: inline-block;
    font-size: 1vmax;
    font-family: var(--font-ko-light);
}
.btn .whiteCircle {
    position: absolute;
    top: 0.3vmin; left: -4vmin;
    width: 1.7vmin; height: 1.7vmin;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #fff;
    transition: all 0.3s;
}
.btn .blackCircle {
    position: absolute;
    top: 0.3vmin; left: -3vmin;
    width: 1.7vmin; height: 1.7vmin;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: all 0.3s;
}


/* first */
#first {
    position: relative;
    width: 100vw;
    overflow: hidden;
}
#first .circle {
    position: absolute;
    top: 14%;
    width: 26vw; height: 26vw;
    background: #fff;
    border-radius: 50%;
}
#first .circle.left {left: -20%;}
#first .circle.right {right: -20%}
#first .comment {
    position: absolute;
    left: 50%; bottom: 10vh;
    transform: translateX(-50%);
    font-size: 34px;
    text-indent: 90px;
}
#first .comment::before {
    content: '';
    position: absolute;
    top: 20px; left: 0;
    height: 3px; width: 60px;
    background: #fff;
}

/* menu */
#menu {
    position: relative;
    width: 100vw;
    text-transform: uppercase;
}
#menu li {
    border-bottom: 1px solid #fff;
}
#menu li a {
    display: block;
    font-size: 36px;
    padding-left: 20px;
    box-sizing: border-box;
}
#menu h2 {
    position: absolute;
    bottom: 8vh; left: 50%;
    transform: translateX(-50%);
    font-size: 17vw;
    font-weight: 400;
}

/* about */
#about {
    display: flex;
}
.main-title {
    position: relative;
    flex: 1 1 0;
    width: 100vw;
}
.about {
    position: relative; 
    flex: 1 1 0;
    width: 100vw;
}
.about .aboutMe {
    width: 100vw;
    margin: 0 auto;
    padding: 5% 16% 5% calc(16% + 70px);
    box-sizing: border-box;
}
.about .aboutMe .top {display: flex;}
.about .aboutMe .top figure {flex: 1 1 40%; margin-right: 5%;}
.about .aboutMe .top figure img {width: 100%;}
.about .aboutMe .top .desc {
    flex: 1 1 47%;
    font-family: var(--font-ko-light);
    font-size: 1.57vw;
    line-height: 1.5;
    margin-top: 1.2%;
}
.about .aboutMe .bottom {display: flex; justify-content: space-between; margin-top: 10vh;}
.about .aboutMe .bottom .bottom-box {flex: 1 1 25%; margin-right: 10%;}
.about .aboutMe .bottom .bottom-box:last-child {margin-right: 0;}
.about .aboutMe .bottom .bottom-box .title {font-size: 20px; margin-bottom: 5vh;}
.about .aboutMe .bottom .bottom-box .desc {font-size: 16px; margin-bottom: 4.3vh; line-height: 1.3; font-weight: 100;}
.about .aboutMe .bottom .bottom-box .num {font-size: 4vw;}

/* skill */
#contents > #skill {position: relative; width: auto; box-sizing: content-box;}
#skill ul {
    width: 57vmax;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
}
#skill li {
    position: relative;
    flex: 1 1 50%;
    height: 33%;
    padding: 4% 2% 0 14%;
    /* padding: 6vh 2vw 1vh 10vw; */
    box-sizing: border-box;
    border: 1px solid #fff;
    border-top: 0;
}
#skill li:nth-child(even){
    border-right: 0;
    border-left: 0;
}
#skill li:nth-child(5){
    border-bottom: 0;
}
#skill li:nth-child(6){
    border-bottom: 0;
}
#skill li .name {
    position: relative;
    font-size: 2.3vmax;
    font-weight: 100;
}
#skill li:nth-child(1) .name::before {
    content: '';
    border: 1px solid #fff;
    position: absolute;
    left: -5.5vmax; top: 0;
    border-radius: 50%;
    width: 2.5vmax; height: 2.5vmax;
}
#skill li:nth-child(1) .name::after {
    content: '';
    border: 1px solid #fff;
    position: absolute;
    left: -4vmax; top: 0;
    border-radius: 50%;
    width: 2.5vmax; height: 2.5vmax;
}
#skill li:nth-child(2) .name::before {
    content: '';
    border: 1px solid #fff;
    position: absolute;
    left: -4.7vmax; top: 0;
    width: 2.5vmax; height: 2.5vmax;
}
#skill li:nth-child(3) .name::before {
    content: '';
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    position: absolute;
    left: -4.7vmax; top: 0.3vmax;
    width: 2.5vmax; height: 2vmax ;
}
#skill li:nth-child(3) .name::after {
    content: '';
    background: #fff;
    position: absolute;
    left: -4.7vmax; top: 50%;
    width: 2.5vmax; height: 0.05vmax;
}
#skill li:nth-child(4) .name::before {
    content: '';
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: -5vmax; top: 0;
    width: 3vmax; height: 3vmax;
}
#skill li:nth-child(5) .name::before {
    content: '';
    border: 1px solid #fff;
    position: absolute;
    left: -4.7vmax; top: 0;
    width: 2.4vmax; height: 2.4vmax;
    transform: rotate(45deg);
}
#skill li:nth-child(6) .name::before {
    content: '';
    background: #fff;
    position: absolute;
    left: -5vmax; top: 1.2vmax;
    width: 3.8vmax; height: 0.05vmax;
    transform: rotate(45deg);
}
#skill li:nth-child(6) .name::after {
    content: '';
    background: #fff;
    position: absolute;
    left: -5vmax; top: 1.2vmax;
    width: 3.8vmax; height: 0.05vmax;
    transform: rotate(135deg);
}

#skill li .score {
    position: absolute;
    right: 4%; bottom: -1%;
    font-size: 9vmax;
    font-weight: 300;
    text-align: right;
    margin-top: 7%;
    /* margin-top: 5vh; */

}

#website {
    position: relative;
}
#website .website-list {
    /* position: fixed;
    left: 70px; top: 51px; */
    width: calc(100vw - 70px);
    margin-left: 70px;
}
#website .website-contents {}
#website .website-contents.website1 .website-menu {display: none;}
#website .website-contents .website-menu {
    position: relative;
    display: block; 
    height: 7vmin; 
    border-bottom: 1px solid #fff; 
    padding-left: 2vmax;
    box-sizing: border-box;
    font-size: 2vmax;
    line-height: 7vmin;
    font-weight: 100;
    text-transform: capitalize;
}
#website .website-contents .website-menu .view {
    position: absolute;
    right: 2%; top: 38%;
    width: 17px; height: 17px;
    border-radius: 50%;
    background: #fff;
}
#website .website-contents.website2 .website-detail {display: none;}
#website .website-contents.website3 .website-detail {display: none;}
#website .website-contents.website4 .website-detail {display: none;}
#website .website-contents .website-detail {
    display: flex;
    border-bottom: 1px solid #fff;
}
#website .website-contents .website-detail .left {
    position: relative;
    flex: 1 1 50%;
    padding: 10vmin 0 0 8vmin;
    height: 73vh;
    box-sizing: border-box;
}
#website .website-contents .website-detail .left .title {
    font-size: 5vmax;
    text-transform: capitalize;
    margin-bottom: 5vmin;
}
#website .website-contents .website-detail .left .desc {
    color: #999;
    font-family: var(--font-ko-light);
    font-size: 1.2vmax;
    width: 87%;
    padding-left: 8%;
    box-sizing: border-box;
}
#website .website-contents .website-detail .left .btn-wrap {
    position: absolute;
    right: 10%; bottom: 5%;
}
#website .website-contents .website-detail .left .btn-wrap .btn {
    margin-left: 6vmin;
}
#website .website-contents .website-detail .right {
    flex: 1 1 50%;
    width: 100%; height:73vh;
    background: #ccc;
}

